body {
    background-color: aliceblue;
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    color: blue;
    text-shadow: 3px 3px 5px skyblue;
}

a {
    text-decoration: none;
}

ul {
    border: 1px dashed black;
}

p {
    font-family: "휴먼편지체";
    font-size: 1em;
    text-indent: 1em;
}

.footer {
    background-color: orange;
    border-radius: 10px;
}

.header+hr {
    height: 1px;
}