@keyframes rotateleft {
    50% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

img {
    width: 100px;
    height: 100px;
    animation-name: rotateleft;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}