#Brown {
    background-color: brown;
    width: 50px;
}

#skyblue {
    background-color: skyblue;
    width: 50px;
}

#violet {
    background-color: blueviolet;
}

#gold {
    background-color: gold;
}

#orange {
    background-color: darkorange;
}

#olive {
    background-color: olivedrab;
}